body{
  color: #000000;
  background-color: #ffffff;
}

.navbar-brand{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 55px;
}

.navbar{
  background-color: #000000;
}

.nav-link{
  font-size: 1rem;
  margin: 10px;
}

.reg{
  width: 100%;
  height:30px;
  text-align: right;
  margin-right: 25px;
}

.jumbotron-intro{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding-bottom: 80px;

}

.jumbotron-intro h1{
  font-size: 4rem;
}

.containerCta{
  padding-top: 20px;
}


.container-intro{
  padding-top: 40px;
}


.jumbotron-and{
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron-and h2{
  font-size: 4rem;
  padding-top: 10px;
}

.jumbotron-web{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron-web h2{
  font-size: 4rem;
  padding-top: 10px;
}

.card-img-top{
  padding: 5px;
}

.patt{
  color: #ffffff;
}

.jumbotron-logo{
  background-color: #000000;
}

.card{
  border: none;
}

.video-k{
  width: 100%;
}
